html {
  font-family: "Arial", sans-serif;
  color: #222222;
  font-size: 13px;
}

#header {
  position: relative;
  padding: 11px;
}

#header .left {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

#header .left:hover {
  text-decoration: underline;
}

#header .right {
  float: right;
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
  color: inherit;
}

#header .right:hover {
  text-decoration: underline;
}

#main {
  position: absolute;
  top: 230px;
  left: 50%;
  margin: 0;
  transform: translate(-50%);
  text-align: center;
}

#main img {

}

#main form {
  display: inline;
}

#main a {
  text-decoration: none;
}

#main a:hover {
  text-decoration: underline;
}

#main input{
  width: 100%;
  display: block;
}

#main button {
  position: relative;
  top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
} 

#footer-lower {
  background-color: #f2f2f2;
  border: 1px solid #dadce0;
  border-width: 1px;
  font-size: 14px;
  padding: 0;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap-reverse;
}

#footer-upper {
  background-color: #f2f2f2;
  border: 1px solid #dadce0;
  border-width: 1px;
  font-size: 14px;
  padding: 0;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 44.6px;
  margin: 0;
  display: flex;
  flex-wrap: wrap-reverse;
}

#footer-lower > ul, #footer-upper > ul {
  display: flex;
  flex-direction: row;
}

#footer-lower a, #footer-upper li {
  color: #0000008A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
}


#footer-lower a:hover{
  text-decoration: underline;
}