html {
  font-family: "arial", sans-serif;
  color: #222222;
  font-size: 13px;
}

#header {
  position: relative;
  padding: 11px;
}

#header .left {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

#header .left:hover {
  text-decoration: underline;
}

#header .right {
  float: right;
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  font-size: 13px;
}

#header .right:hover {
  text-decoration: underline;
}

#header .right-button {
  float: right;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: -10px;
  text-decoration: none;
  color: #fff;
  background-color: #1a73e8;
  padding: 9px 23px;
  border: 1px;
  border-radius: 4px;
  font-size: 14px;
  width: 48px;
  height: 16px;
  text-align: center;
}

#header .right-button:hover {
  filter: brightness(110%);
}

#header .right-apps img {
  float: right;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: -6px;
  font-size: 12px;
  width: 23px;
}

#main {
  position: absolute;
  top: 255px;
  left: 50%;
  margin: 0;
  transform: translate(-50%);
  text-align: center;
}

#main img {
  width: 272px;
  height:92px;
}

#main form {
  display: inline;
}

#main a {
  text-decoration: none;
}

#main a:hover {
  text-decoration: underline;
}

#main input{
  width: 560px;
  height: 40px;
  display: block;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  margin-top: 20px;
  margin-bottom: 25px;
  outline: 0px;
}

#main button {
  position: relative;
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 0px 16px;
  border: 1px;
  height: 34px;
  width: 142.36px;
  color: #202124;
  font-size: 14px;
}

#main button:hover {
  box-shadow: 0 0 2px grey;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
} 

#footer-lower {
  background-color: #f2f2f2;
  border: 1px solid #dadce0;
  border-width: 1px;
  font-size: 14px;
  padding: 0;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap-reverse;
}

#footer-upper {
  background-color: #f2f2f2;
  border: 1px solid #dadce0;
  border-width: 1px;
  font-size: 14px;
  padding: 0;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 44.6px;
  margin: 0;
  display: flex;
  flex-wrap: wrap-reverse;
}

#footer-lower > ul, #footer-upper > ul {
  display: flex;
  flex-direction: row;
}

#footer-lower a, #footer-upper li {
  color: #0000008A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
}

#footer-lower a:hover{
  text-decoration: underline;
}